.container {
  
  padding: 30px;
  background-color: lemonchiffon;
}
body {
    font-family: 'Simpsonfont', sans-serif;
    
}
h1 {
    text-align: center;
    margin: 1rem;
    color: black; 
    text-shadow: 1px 1px 1px rgba(0.0.0,0.46);
}
.header .logo {
  float:left;
  border-radius: 40px;
  max-width: 200px;
  padding-left: 100px ;
  border-color: red;
  border: white 1px;
  
  
}
.header .banner {
  max-width: 1000px;
  width: 600px;
  border-radius: 10px;
  
}
.header {
    grid-column: 1 / 7;
    background-color: orangered;
    
  }
  .score {
    grid-column: 1 / span 2;
    background-color: red;
 
  }
  .ranking {
    grid-column: 3 / span 2;
    background-color: darkorange;
   
  }
  .language {
    grid-column: 5 / span 2;
    background-color: rgb(53, 53, 216);
  }
  
  .information-bar {
    grid-column: 1 / span 6;
    background-color: chocolate;
  }
  
  .game {
    grid-column: 1 / 6;
    background-color: rgb(175, 30, 175);
  }
  
  .description {
    grid-column: 6 / 7;
    background-color: yellow;
   
    
  }
  .description p {
      padding: 15px;
      font-size: 40px;
      margin: auto;
      max-width: 400px;
  }
  .description img {
      width: 20%;
  }
  .footer {
    grid-column: 1 / span 6;
    background-color: cyan;
  }
  
  
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-gap: 10px;
    /*background-color: #c7c9ca; */
    padding: 10px;
  }
  
  .grid-container > div {
    /*background-color: rgba(255, 255, 255, 0.8); */
    text-align: center;
    padding: 20px 0;
    
    font-size: 30px;
    border-radius: 10px;
    box-shadow: 3px 3px 16px rgba(0,0,0,0.7) ;
  }

